*{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    padding:50px;
    margin:auto;
}

h1{
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    margin-top: 50px;
}

h2{
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
}

p{
    font-size: 24px;
}

.explaination{
    text-align: center;
    word-wrap: normal;
    font-size: 25px;
    max-width: 800px;
    margin: auto;
}

.count-down{
    display:none;
    margin:auto 10px auto auto;
    float:right;
    text-align: right;
    width: 20%;
}

.view-high-scores{
    color: magenta;
    text-decoration: none;
    float: left;
}

.quiz-page{
    display: none;
}

.end-page{
    display: none;
}

.start-button-div{
    display:flex;
    margin-top:10px;
    align-items: center;
    justify-content: center;
}

.btn{
    color: white;
    background-color: #3333cc;
    padding:10px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    margin: auto;
    text-align: center;
}

.question{
    max-width: 800px;
    font-size: 40px;
    text-align: left;
    display:block;
    margin: auto;
    padding: 20px;
}

.quiz-button{
    color: white;
    background-color: #3333cc;
    padding:10px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    margin: auto auto 10px 50px;
    text-align: left;
    display: block;
    width:25%
}

.answer-centering-div{
    display:flex;
    margin-top:10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center; 
}

.answer-div{
    display: block;
    width: 75%;
}

.previous-div{
    font-size: 36px;
    font-weight: bold;
    color: slategray;
    text-align: center;
    vertical-align: center;
    border-top: 2px solid slategray;
    margin-top: 10px;
}

.final-score{
    display:flex;
}

.score-button{
    color: white;
    background-color: magenta;
    padding:5px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    margin: auto;
    text-align: center;
}

.final-score-div{
    display:flex;
    margin-top:10px;
    align-items: center;
    justify-content: center; 
}

.final-score-form{
    display:block;
    width:50%;
}

.initial-label{
    font-size: 24px;
}

.initial-box{
    font-size: 24px;
}

.high-score-page{
    display:none;
}

.high-score-centering-div{
    display:flex;
    margin-top:10px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center; 
}

.high-score-blocking-div{
    display:block;
}

.high-score-table-div{
    font-size: 32px;
    background-color: #bb99ff;
}

tr{
    border-bottom:1px solid gray;
}

.high-score-button-div{
    margin-top: 20px;
}